{% extends 'interface/base.html' %}

{% block body %}

    <a href="{% url 'interface:post:list' %}">&larr; back to overview</a>

    <h1>{{ post.subject }}</h1>
    <p>{{ post.content }}</p>

    <a href="{% url 'interface:post:list' %}">&larr; back to overview</a>

{% endblock %}
